# GraphQL content API endpoint
# required
CONTENT_ENDPOINT=

# GraphQL Authentication token
# required
CONTENT_AUTH_TOEKN=

# I18n content API endpoint
# required
I18N_ENDPOINT=

# Cloudinary ID
# optional
CLOUDINARY_ID=

# Cache Key
# optional
CACHE_KEY=